a {
    color: inherit;         
    text-decoration: none; 
}

section1{
	color:  #ffefca;
    font-family: "궁서", Gungsuh, "AppleMyungjo", serif;
    font-size: 30px;
    position: absolute;
    left: 15%;
    bottom: 5%;

}

section1:hover {
    color: #d8b060; 
}

.pul{
    position: absolute;
    left: 14%;
    top: 12%;
    z-index: 0;
    transition: transform 0.3s ease;
}

.pul:hover {
    transform: rotate(5deg); 
}

.pul1{
    position: absolute;
    left: 2%;
    bottom: 20%;
    z-index: 1;
    transition: transform 0.3s ease;
}

.pul1:hover {
    transform: rotate(5deg); 
}


section2{
    color:  #ffefca;
    font-family: "궁서", Gungsuh, "AppleMyungjo", serif;
    font-size: 30px;
    position: absolute;
    left: 45%;
    bottom: 5%;

}

section2:hover {
    color: #d8b060; 
}

.dong{
    position: absolute;
    left: 35%;
    top: 10%;
    z-index: 1;
    transition: transform 0.3s ease;
}

.dong:hover {
    transform: rotate(5deg); 
}

.dong1{
    position: absolute;
    left: 45%;
    top: 15%;
    z-index: 0;
    transition: transform 0.3s ease;
}

.dong1:hover {
    transform: rotate(5deg); 
}

.dong2{
    position: absolute;
    left: 37%;
    top: 45%;
    z-index: 0;
    transition: transform 0.3s ease;
}

.dong2:hover {
    transform: rotate(5deg); 
}

section3{
    color:  #ffefca;
    font-family: "궁서", Gungsuh, "AppleMyungjo", serif;
    font-size: 30px;
    position: absolute;
    right: 10%;
    bottom: 5%;

}

section3:hover {
    color: #d8b060; 
}

.sim{
    position: absolute;
    right: 5%;
    top: 10%;
    z-index: 1;
    transition: transform 0.3s ease;
}

.sim:hover {
    transform: rotate(5deg); 
}

.sim1{
    position: absolute;
    right: 14%;
    top: 30%;
    z-index: 0;
    transition: transform 0.3s ease;
}

.sim1:hover {
    transform: rotate(5deg); 
}

.sim2{
    position: absolute;
    right: 5%;
    top: 50%;
    z-index:0;
    transition: transform 0.3s ease;
}

.sim2:hover {
    transform: rotate(5deg); 
}

body {
    background: linear-gradient(to bottom, #9b6d40 50%, #3f2a18 100%);
    margin: 0;
    min-height: 100vh;
}