body {
    background: linear-gradient(to bottom, #4c2f1a 30%, #000000 100%);
    margin: 0;
    min-height: 450vh;
}

section{
    color:  #ffefca;
    font-family: "궁서", Gungsuh, "AppleMyungjo", serif;
    font-size: 30px;
    position: absolute;
    left: 47%;
    top: 3%;

}

.text1{
    font-family: "HY견명조", "HYGyeonMyeongjo", serif;
    color: #ffefca;
    font-size: 20px;
    position: absolute;
    left: 36%;
    top: 83%;
}

.text2{
    font-family: "HY견명조", "HYGyeonMyeongjo", serif;
    color: #ffefca;
    font-size: 20px;
    position: absolute;
    left: 31%;
    top: 147%;
}

.text3{
     font-family: "HY견명조", "HYGyeonMyeongjo", serif;
    color: #ffefca;
    font-size: 20px;
    position: absolute;
    left: 35%;
    top: 237%;   
}

.text4{
    /*font-family: "HY얕은샘물M", "HY얕은샘물", "HYShortSamulM", sans-serif;*/
    font-family: "휴먼옛체", "HMKBS", "HumanYeti", serif;
    color: #ffefca;
    text-align: center;
    font-size: 20px;
    line-height: 2;
    width: 45%;
    height: 60%;
    position: absolute;
    left: 27%;
    top: 385%;
}


.k1{
    position: absolute;
    left: 33%;
    top: 12%;
    z-index: 1;

}

.k2{
    position: absolute;
    left: 38%;
    top: 93%;
    z-index: 1
}

.k3{
    position: absolute;
    left: 40%;
    top: 158%;
    z-index: 1
}

.k4{
    position: absolute;
    left: 42%;
    top: 187%;
    z-index: 0

}

.k5{
    position: absolute;
    left: 40%;
    top: 250%;
    z-index: 0
}

.k6{
    position: absolute;
    left: 40%;
    top: 285%;
    z-index: 1;
}

.line{
    position: absolute;
    left: 21%;
    top: 15%;
    z-index: 1;
}

.three{
    position: absolute;
    left: 48%;
    top: 335%;
}

.mu{
    position: absolute;
    left: 47%;
    top: 360%;
}