body {
    /* 원래 주신 코드 3줄 그대로 유지 */
    background: linear-gradient(to bottom, #9b6d40 10%, #320000 100%);
    margin: 0;
    min-height: 280vh;


}

section{
    color:  #ffefca;
    font-family: "궁서", Gungsuh, "AppleMyungjo", serif;
    font-size: 50px;
    position: absolute;
    left: 42%;
    top: 3%;

}

.text0{
    color:  #ffefca;
    font-family: "궁서", Gungsuh, "AppleMyungjo", serif;
    font-size: 20px;
    position: absolute;
    left: 32%;
    top: 11%;


}

.text1{
    color:  #ffefca;
    font-family: "휴먼옛체", "HMKBS", "HumanYeti", serif;
    font-size: 25px;
    width: 2%;
    height: 100%;
    position: absolute;
    right: 9%;
    top: 50%;
    letter-spacing: 10px;
    display: inline-block;     
    transform: scaleY(1.6);
}

.text2{
    color:  #ffefca;
    font-family: "휴먼옛체", "HMKBS", "HumanYeti", serif;
    font-size: 25px;
    width: 2%;
    height: 100%;
    position: absolute;
    right: 13%;
    top: 50%;
    letter-spacing: 10px;
    display: inline-block;     
    transform: scaleY(1.6);
}

.text3{
    color:  #ffefca;
    font-family: "휴먼옛체", "HMKBS", "HumanYeti", serif;
    font-size: 25px;
    width: 2%;
    height: 100%;
    position: absolute;
    right: 17%;
    top: 50%;
    letter-spacing: 10px;
    display: inline-block;     
    transform: scaleY(1.6);
}

.text4{
    color:  #ffefca;
    font-family: "휴먼옛체", "HMKBS", "HumanYeti", serif;
    font-size: 25px;
    width: 2%;
    height: 100%;
    position: absolute;
    right: 21%;
    top: 50%;
    letter-spacing: 10px;
    display: inline-block;     
    transform: scaleY(1.6);
}

.text5{
    color:  #ffefca;
    font-family: "휴먼옛체", "HMKBS", "HumanYeti", serif;
    font-size: 25px;
    width: 2%;
    height: 100%;
    position: absolute;
    right: 25%;
    top: 50%;
    letter-spacing: 10px;
    display: inline-block;     
    transform: scaleY(1.6);
}

.text6{
    color:  #ffefca;
    font-family: "휴먼옛체", "HMKBS", "HumanYeti", serif;
    font-size: 20px;
    width: 2%;
    height: 100%;
    position: absolute;
    right: 35%;
    top: 130%;
    letter-spacing: 10px;
    display: inline-block;     
    transform: scaleY(1.6);
}

.text7{
    color:  #ffefca;
    font-family: "휴먼옛체", "HMKBS", "HumanYeti", serif;
    font-size: 20px;
    width: 2%;
    height: 100%;
    position: absolute;
    right: 39%;
    top: 130%;
    letter-spacing: 10px;
    display: inline-block;     
    transform: scaleY(1.6);
}

.text8{
    color:  #ffefca;
    font-family: "휴먼옛체", "HMKBS", "HumanYeti", serif;
    font-size: 20px;
    width: 2%;
    height: 100%;
    position: absolute;
    right: 43%;
    top: 130%;
    letter-spacing: 10px;
    display: inline-block;     
    transform: scaleY(1.6);
}

.text9{
    color:  #ffefca;
    font-family: "휴먼옛체", "HMKBS", "HumanYeti", serif;
    font-size: 20px;
    width: 2%;
    height: 100%;
    position: absolute;
    right: 47%;
    top: 130%;
    letter-spacing: 10px;
    display: inline-block;     
    transform: scaleY(1.6);
}

.text10{
    color:  #ffefca;
    font-family: "휴먼옛체", "HMKBS", "HumanYeti", serif;
    font-size: 20px;
    width: 2%;
    height: 100%;
    position: absolute;
    right: 51%;
    top: 130%;
    letter-spacing: 10px;
    display: inline-block;     
    transform: scaleY(1.6);
}



.text11{
    color:  #ffefca;
    font-family: "휴먼옛체", "HMKBS", "HumanYeti", serif;
    font-size: 25px;
    text-align: center;
    position: absolute;
    left: 43%;
    top: 215%;
    width: 50%;
    height: 30%;
    letter-spacing: 10px;
    display: inline-block;     
    transform: scaleY(1.6);

}

.dong1{
    position: absolute;
    left: 6%;
    top: 20%;
   
}

.dong2{
    position: absolute;
    left: 40%;
    top: 23%;

}


.dong4{
    position: absolute;
    left: 3%;
    top: 100%;
    
}

.dong3{
    position: absolute;
    right: 10%;
    top: 145%;
    
}

.ef1{
    position: absolute;
    right: 28%;
    top: 65%;   
}

.ef2{
    position: absolute;
    right: 13%;
    top: 25%;   
}

.ef3{
    position: absolute;
    right: 8%;
    top: 123%;
    z-index: -1;   
}


.ef4{
    position: absolute;
    left: 3%;
    top: 210%;
}

.ef5{
    position: absolute;
    right: 10%;
    top: 205%;
}

